.kasina {
  /* width: 1600px; */
  /* margin: 0 auto; */
  h1 {
    padding-bottom: 100px;
    padding-top: 50px;
  }
}
.clone {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  li img {
    width: 400px;
    height: 750px;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 5px;
  }
}
.clone_2 {
  padding-bottom: 100px;

  text-align: center;
  li img {
    padding: 10px;
    width: 1200px;
    border: 1px solid lightgray;
    &.wauto {
      width: auto;
    }
  }
}

/*.video {
  width: 100%;
  aspect-ratio: 16/2;
  object-fit: cover;
  margin-bottom: 100px;
}
.video_title {
  position: absolute;
  color: white;
  left: 41vw;
  top: 16vh;
  font-size: 50px;
  opacity: 0.7;
}*/
.ottdiv {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 15px;
  img {
    left: 1100px;
    width: 500px;
  }
}
.list {
  border-left: 20px solid #000;
  border-radius: 5px;
  li {
    padding-left: 15px;
    position: relative;
    &::before {
      position: absolute;
      left: 1px;
      content: "";
      top: 10px;
      border-radius: 1px;
      width: 4px;
      height: 4px;
      background-color: #555;
      display: block;
      margin-left: 5px;
    }
  }
}
.grid-code {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
  gap: 10px;
  .img {
    background-color: #000;
    text-align: right;
    img {
      width: 100%;
      &.wauto {
        width: auto;
      }
    }
  }
  iframe {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: stretch;
    width: 50vw;
  }
  .discription {
    border-bottom: 1px solid rgb(226, 226, 226);
  }
}
.test {
  a {
    color: red;
    text-decoration: underline;
  }
}
