.main_wrap {
  width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
.script {
  text-align: center;
}
.big_logo img {
  width: 560px;
  height: 400px;
}
.big_script {
  li {
    text-align: start;
  }
  h1 {
    padding-top: 50px;
  }
  img {
    margin-top: 50px;
    height: 600px;
    border: 1px solid lightgray;
  }
}

.product {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  img {
    width: 700px;
  }
}
.video {
  width: 100%;
  aspect-ratio: 16/2;
  object-fit: cover;
  margin-bottom: 100px;
}
.video_title {
  position: absolute;
  color: white;
  left: 42vw;
  top: 15vh;
  font-size: 50px;
  opacity: 0.7;
}
.logo_font {
  img {
    width: 800px;
    height: 80px;
  }
}
